# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Python database
*.db
*.sqlite
*.sqlite3

# Uploaded photos
backend/uploads/*
!backend/uploads/.gitkeep

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db